.elementor-241 .elementor-element.elementor-element-939389a:not(.elementor-motion-effects-element-type-background), .elementor-241 .elementor-element.elementor-element-939389a > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:transparent;background-image:linear-gradient(90deg, #E44E9C 0%, #FECC0C 100%);}.elementor-241 .elementor-element.elementor-element-939389a > .elementor-container{max-width:1224px;}.elementor-241 .elementor-element.elementor-element-939389a{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:6% 0% 5% 0%;}.elementor-241 .elementor-element.elementor-element-939389a > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-bc-flex-widget .elementor-241 .elementor-element.elementor-element-e78c809.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-241 .elementor-element.elementor-element-e78c809.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-241 .elementor-element.elementor-element-e78c809 > .elementor-element-populated{padding:0% 13% 0% 15%;}.elementor-widget-heading .elementor-heading-title{font-family:var( --e-global-typography-primary-font-family ), Sans-serif;font-weight:var( --e-global-typography-primary-font-weight );color:var( --e-global-color-primary );}.elementor-241 .elementor-element.elementor-element-fac0551 > .elementor-widget-container{padding:0% 0% 2% 0%;}.elementor-241 .elementor-element.elementor-element-fac0551 .elementor-heading-title{font-family:"Ubuntu", Sans-serif;font-size:42px;font-weight:600;line-height:50px;color:#FFFFFF;}.elementor-widget-text-editor{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-weight:var( --e-global-typography-text-font-weight );}.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:var( --e-global-color-primary );}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap, .elementor-widget-text-editor.elementor-drop-cap-view-default .elementor-drop-cap{color:var( --e-global-color-primary );border-color:var( --e-global-color-primary );}.elementor-241 .elementor-element.elementor-element-f804f9c > .elementor-widget-container{padding:0% 0% 2% 0%;}.elementor-241 .elementor-element.elementor-element-f804f9c{color:#FFFFFF;font-family:"Open Sans", Sans-serif;font-size:20px;font-weight:400;line-height:28px;}.elementor-241 .elementor-element.elementor-element-868c125 > .elementor-container{max-width:1224px;}:root{--page-title-display:none;}@media(max-width:880px){.elementor-241 .elementor-element.elementor-element-e78c809 > .elementor-element-populated{padding:0% 4% 0% 6%;}}@media(max-width:767px){.elementor-241 .elementor-element.elementor-element-e78c809 > .elementor-element-populated{padding:0% 4% 0% 4%;}.elementor-241 .elementor-element.elementor-element-fac0551{text-align:center;}.elementor-241 .elementor-element.elementor-element-fac0551 .elementor-heading-title{font-size:38px;line-height:45px;}.elementor-241 .elementor-element.elementor-element-f804f9c{text-align:center;font-size:16px;line-height:25px;}}/* Start custom CSS */.hbspt-form form fieldset .input .hs-input {
    max-width: 100%;
    width: 100%;
    display: block;
    box-sizing: border-box;
    padding: 10px 15px;
    min-height: 45px;
    border: 1px solid #CCC;
    border-radius: 1px;
    box-shadow: none;
}


.hs-form-e6780c08-29a9-41f1-b120-1cb5013fe08d_cb0d0a8c-8b26-4c11875c-ff6f6dc7958c fieldset.form-columns-2 .hs-form-field {
    width: 50%;
    float: left;
}

.hs-form-e6780c08-29a9-41f1-b120-1cb5013fe08d_3dd1eeaf-6db7-4583b764-3d5c01b1633f .input {
    margin-left: 0 !important;
}
.hbspt-form form .input {
    margin-left: 0;
}


.hbspt-form form label {
    float: none;
    width: auto;
    text-align: left;
    font-size: 15px !important;
    font-weight: 700;
    font-family: "Open Sans", Sans-serif !important;
    padding-bottom: 10px;
}

.hbspt-form form .actions .hs-button:focus:not(.inactive), .hbspt-form form .actions .hs-button.hovered:not(.inactive), .hbspt-form form .actions .hs-button:hover:not(.inactive), .hbspt-form form .actions .hs-button {
    background-image: linear-gradient(90deg, #E44E9C 0%, #FECC0C 100%);
    border-radius: 34px 34px 34px; 
    color: #FFF;
    padding: 20px 60px 20px 60px;
    border-radius: 99px;
    text-transform: uppercase;
    text-shadow: none;
    box-shadow: none;
    border: 0;
    font-size: 14px;
    letter-spacing: 0;
}/* End custom CSS */